/node_modules
/.next
/out
/build
/coverage
/playwright-report
/test-results
/src/generated/server/prisma

.env*
!.env.example
!.env.*.example
.vercel

*.tsbuildinfo
next-env.d.ts

.DS_Store
*.pem
npm-debug.log*
